<script src="https://cdn.jsdelivr.net/npm/@ng-bootstrap/ng-bootstrap@11.0.1/bundles/ng-bootstrap.js"></script>
<button class="btn btn-primary btn-lg m-5 mx-auto d-block" (click)="abrirPersonajeCrearModal()">Crear personaje</button>
<button class="btn btn-primary btn-lg m-5 mx-auto d-block" (click)="abrirPersonajeAleatorioModal()">Personaje Aleatorio</button>

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let personaje of personajes">
            <div class="card mb-3">
                <img class="card-img-top" [src]="personaje.image" alt="Imagen del personaje">
                <div class="card-body">
                    <h5 class="card-title">{{ personaje.name }}</h5>
                    <button class="btn btn-primary" (click)="abrirPersonajeDetallesModal(personaje)">Ver detalles</button>
                    <button class="btn btn-secondary" (click)="abrirPersonajeEditarModal(personaje)">Editar</button>
                    <button class="btn btn-danger" (click)="abrirPersonajeEliminarModal(personaje)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #personajeDetailsModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detalles del personaje</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <p>Nombre: {{personajeSeleccionado.name}}</p>
        <p>Estado: {{personajeSeleccionado.status}}</p>
        <p>Especie: {{personajeSeleccionado.species}}</p>
        <p>Género: {{personajeSeleccionado.gender}}</p>
        <p>Origen: {{personajeSeleccionado.origin}}</p>
    </div>
</ng-template>

<ng-template #personajeAleatorioDetailsModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detalles del personaje aleatorio</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <img class="card-img-top" [src]="personajeAleatorio.image" alt="Imagen del personaje aleatorio">
        <p>Nombre: {{personajeAleatorio.name}}</p>
        <p>Estado: {{personajeAleatorio.status}}</p>
        <p>Especie: {{personajeAleatorio.species}}</p>
        <p>Género: {{personajeAleatorio.gender}}</p>
        <p>Origen: {{personajeAleatorio.origin}}</p>
    </div>
</ng-template>

<ng-template #crearpersonajeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Crear personaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="personajeSeleccionado.name">
            </div>
            <div class="form-group">
                <label for="status">Estado</label>
                <input type="text" class="form-control" id="status" name="status" [(ngModel)]="personajeSeleccionado.status">
            </div>
            <div class="form-group">
                <label for="species">Especie</label>
                <input type="text" class="form-control" id="species" name="species" [(ngModel)]="personajeSeleccionado.species">
            </div>
            <div class="form-group">
                <label for="gender">Genero</label>
                <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="personajeSeleccionado.gender">
            </div>
            <div class="form-group">
                <label for="origin">Origen</label>
                <input type="text" class="form-control" id="origin" name="origin" [(ngModel)]="personajeSeleccionado.origin">
            </div>
            <div class="form-group">
                <label for="image">Imagen(link)</label>
                <input type="text" class="form-control" id="image" name="image" [(ngModel)]="personajeSeleccionado.image">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="crearPersonaje()">Crear personaje</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    </div>
</ng-template>


<ng-template #editpersonajeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar personaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="personajeSeleccionado.name">
            </div>
            <div class="form-group">
                <label for="status">Estado</label>
                <input type="text" class="form-control" id="status" name="status" [(ngModel)]="personajeSeleccionado.status">
            </div>
            <div class="form-group">
                <label for="species">Especie</label>
                <input type="text" class="form-control" id="species" name="species" [(ngModel)]="personajeSeleccionado.species">
            </div>
            <div class="form-group">
                <label for="gender">Genero</label>
                <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="personajeSeleccionado.gender">
            </div>
            <div class="form-group">
                <label for="origin">Origen</label>
                <input type="text" class="form-control" id="origin" name="origin" [(ngModel)]="personajeSeleccionado.origin">
            </div>
            <div class="form-group">
                <label for="image">Imagen(link)</label>
                <input type="text" class="form-control" id="image" name="image" [(ngModel)]="personajeSeleccionado.image">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="actualizarPersonaje()">Guardar cambios</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    </div>
</ng-template>


<ng-template #eliminarpersonajeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Eliminar personaje</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar el personaje '{{ personajeSeleccionado.name }}'?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="eliminarPersonaje()">Eliminar</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    </div>
</ng-template>
